body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    background-color: black;
    margin: 0;
}

.full-container{
    width: 1440px;
}

/* Header section starts here */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #2D25A0;
    width: 1440px;
    height: 677px;
}

.banner-info{
    margin-left: 156px;
}

.banner-info h1{
    font-weight: bold;
    font-size: 64px;
    line-height: 80px;
    font-style: normal;
    margin: 0;
    color: #FFFFFF;
}

.banner-info .last-headingline{
    margin-bottom: 27px;
}

.banner-info a{
    background: #E02C6D;
    padding: 10px 24px;
    text-decoration: none;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    transition: 1s;
}

.banner-info a:hover{
    background-color: orange;
    color: darkblue;
    padding: 15px 29px;
}


.banner-info a span{
    margin-right: 8px;
}

.banner-image{
    margin-right: 140.99px;
}

.banner-image img{
    width: 556.01px;
    height: 438px;
    transition: transform 1s;
}

.banner-image img:hover{
    transform: scale(1.1);
}
/* Header section ends here */

/* Main section starts here */
main{
    width: 1440px;
    background: #FFFFFF;
}

/* Players section starts here */
.top-players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 27px;
    grid-column-gap: 30px;
    margin-right: 210px;
    margin-left: 180px;
    padding-top: 70px;
}

.player{
    width: 330px;
    height: 474px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 15px;
    box-sizing: border-box;
    margin-bottom: 0;
}

.player-image img{
    width: 100%;
    height: 256px;
}

.player-name{
    font-size: 28px;
    font-weight: 700;
    color: #18191F;
    margin: 10px 0px;
}

.player-info{
    font-size: 16px;
    line-height: 26px;
    font-weight: 400px;
    color: #6C6C6C;
}
/* Players section ends here */

/* Latest news starts here */
.latest-newses{
    margin-top: 70px;
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.section-title{
    font-size: 50px;
    color: white;
}

.latest-news{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 50px;
}

.news{
    width: 400px;
    height: 500px;
    overflow: hidden;
    position: relative;
}

.news-image{
    width: 100%;
    height: 500px;
    opacity: 0.8;
    transition: transform 2s;
}

.news:hover .news-image{
    transform: scale(1.5);
}

.news h1{
    font-size: 30px;
    width: 100%;
    color: yellow;
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 353px;
    padding: 15px;
    text-align: center;
}
/* Latest news ends here */

/* Special Feature starts here */
.special-feature{
    width: 100%;
    height: 550px;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(195,	55, 100, 0.8), rgba(29, 38,113, 0.8)), url(images/kaka.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 30px;
}

.special-feature h1{
    font-size: 65px;
    line-height: 0;
    color: rgb(240, 216, 3);
    font-weight: bolder;
}

.special-feature p{
    font-size: 25px;
    color: white;
}

.special-feature a{
    background: red;
    padding: 10px 24px;
    text-decoration: none;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    transition: 1s;
}

.special-feature a:hover{
    background-color: orange;
    color: darkblue;
    padding: 15px 29px;
}

.feature-title{
    font-size: 50px;
    text-align: center;
}
/* Special Feature ends here */
/* Main section ends here */

/* Footer section starts here */
footer{
    width: 1440px;
    background: #FFFFFF;
}

.footer-logo{
    padding-top: 140px; 
    margin-bottom: 20px;
    text-align: center;
    margin-left: -75px;
}
.footer-logo img{
    width: 483.87px;
    height: 110px;
}

.footer-section{
    text-align: center;
}

.footer-icons{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.footer-icons a{
    margin-right: 14px;
    background: #E7E7E8;
    padding: 5px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    transition: transform 0.5s;
}

.footer-icons a:hover{
    transform: scale(1.2);
    background-color: navy;
}

.fab{
    margin-top: 9px;
    color: #969BAB;
}

.footer-icons a:hover .fab{
    color: red;
}

.footer-section p{
    font-size: 18px;
    color: #000000;
    font-weight: 400;
    padding-bottom: 63px;
}
/* Footer section ends here */

/* Small devices (portrait tablets and large phones, 768px and down) */
@media only screen and (max-width: 768px) {

.full-container{
    width: 100%;
}

/* Header section starts here */
.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #2D25A0;
    width: 768px;
}

.banner-info{
    margin-left: -300px;
    margin-top: 112px;
}

.banner-info h1{
    font-size: 50px;
    line-height: 60px;
}

.banner-image{
    margin-right: -300px;
    margin-left: 15px;
    margin-bottom: 61.83px;
}

.banner-image img{
    width: 400px;
    height: 300px;
}
/* Header section ends here */

/* Main section starts here */
main{
    width: 100%;
    background: #FFFFFF;
}

/* Players section starts here */
.top-players{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 35px;
    grid-row-gap: 24px;
    grid-column-gap: 10px;
    margin: 0 auto;
    padding-top: 35px;
    }

.player{
        margin: 0 auto;
    }

.player-image img{
    width: 100%;
    height: 256px;
}

.player-name{
    font-size: 28px;
    font-weight: 700;
    color: #18191F;
    margin: 10px 0px;
}

.player-info{
    font-size: 16px;
    line-height: 26px;
    font-weight: 400px;
    color: #6C6C6C;
}
/* Players section ends here */

/* Latest news starts here */
.latest-newses{
    margin-top: 70px;
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.section-title{
    font-size: 40px;
}

.latest-news{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 35px;
    grid-row-gap: 35px;
}

.news{
    width: 300px;
    height: 400px;
}

.news h1{
    font-size: 20px;
    position: absolute;
    top: 320px;
    padding: 0px;
}
/* Latest news ends here */

/* Special Feature starts here */

.feature-title{
    font-size: 40px;
}
/* Special Feature ends here */
/* Main section ends here */

/* Footer section starts here */
footer{
    width: 768px;
}

.footer-logo{
    padding-top: 54.57px;
    margin-left: -20px; 
    margin-bottom: 50.45px;
    text-align: center;
}
.footer-logo img{
    width: 200px;
    height: 70px;
}

.footer-icons{
    margin-left: 20px;
}
/* Footer section ends here */
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
.full-container{
    width: 100%;
}

/* Header section starts here */
.banner{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    background: #2D25A0;
    width: 360px;
    height: 695px;
    margin: 0;
}

.banner-info{
    margin-left: -65px;
    margin-top: 112px;
}

.banner-info h1{
    font-size: 36px;
    line-height: 50px;
}

.banner-image{
    margin-right: 16px;
    margin-left: 15px;
    margin-bottom: 61.83px;
}

.banner-image img{
    width: 329px;
    height: 259.17px;
}
/* Header section ends here */

/* Main section starts here */
main{
    width: 360px;
    background: #FFFFFF;
}

/* Players section starts here */
.top-players{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 24px;
    grid-column-gap: 0px;
    padding: 0px;
    padding-top: 47px;
}

.player{
        margin: 0 auto;
}
/* Players section ends here */

/* Latest news starts here */
.latest-newses{
    margin-top: 70px;
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.section-title{
    font-size: 30px;
}

.latest-news{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 24px;
}

.news{
    width: 300px;
    height: 400px;
}

.news h1{
    font-size: 20px;
    position: absolute;
    top: 320px;
    padding: 0px;
}
/* Latest news ends here */

/* Special Feature starts here */
.special-feature{
    width: 100%;
    height: 200px;
}

.special-feature h1{
    font-size: 20px;
}

.special-feature p{
    font-size: 10px;
    color: white;
}

.special-feature a{
    padding: 7px 10px;
    font-size: 10px;
}

.special-feature a:hover{
    padding: 10px 13px;
}

.feature-title{
   font-size: 20px;
}
/* Special Feature ends here */
/* Main section ends here */

/* Footer section starts here */
footer{
    width: 360px;
}

.footer-logo{
    padding-top: 54.57px;
    margin-left: -20px; 
    margin-bottom: 50.45px;
    text-align: center;
}
.footer-logo img{
    width: 150px;
    height: 45px;
}

.footer-icons{
    margin-left: 20px;
}
/* Footer section ends here */
}


